---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,700);

// Our variables
$base-font-family: 'Work Sans', sans-serif;

$base-font-size:   18px;

$base-font-weight: 400;
$xlarge-font-size: $base-font-size * 1.75;
$large-font-size: $base-font-size * 1.25;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;
$spacing-unit-menu:2px;

$text-color:       #111;
$background-color: #fdfdfd;


$color-red:     #AA4E39;	// Main Primary color */
$color-orange: #AA7539;	// Main Secondary color (1) */
$color-blue: #27576B;	// Main Secondary color (2) */
$color-green:  #297A4A;	// Main Complement color */
$color-matte-yellow: #FFEECC;
$color-yellow: #FFEABE; //#FFDA8F;
$color-brown: #6F4E37;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 30%);
$grey-color-dark:  darken($grey-color, 25%);


// Nav Sidebar
$sidebar-width:   250px;
$profile-pic-width: 75%;
$text-color-nav: $grey-color-light;


// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
