---
layout: default
---

<section id="home" class="row">
  <div class="col-sm-4 col-sm-offset-6 col-xs-12">
    <div class="quote-block">
      <p class="quote"></p>
      <div class="quote-meta">
        <p class="author"></p>
        <p class="note"></p>
      </div>
      <div id="reload-quote">
        <span class="glyphicon glyphicon-refresh" onclick="setRandomQuote()"></span>
      </div>
    </div>
  </div>
  <div class="bottom-center">
    <a href="#about"><span class="glyphicon glyphicon-chevron-down"></span></a>
  </div>
</section>

<section id="about" class="row gray-bg">
  <div class="col-sm-3 col-sm-offset-1 col-xs-10 col-xs-offset-1">
    <img src="images/me.jpg" alt="me" />
    <p class="img-caption">
      Classic hipster photo of me wearing a flannel shirt in front of a brick wall
    </p>
  </div>
  <div class="col-sm-6  col-xs-10 col-xs-offset-1">
    <h2>Ahoy!</h2>
    <p>
      Welcome, glad to have you here! I'm Justin Leatherwood, a dude living in Wisconsin that likes programming and writing. I'm currently the Tech Lead at the <a href="http://ipminstitute.org">IPM Institute of North America</a> and a contract writer for the <a href="http://blog.ionic.io/">Ionic Framework blog</a>.
    </p>
    <p>
      I've long been intrigued by programming, ever since my first programming class at 14 when I built an amazing game in VB where a pixelated woman was launched from a cannon and superman had to catch her before she splatted on the ground. Okay, maybe it wasn't that amazing, but still. Programming intrigues me mucho.
    </p>
    <p>
      Nowadays, I'm really into frontend web development, design and UX. While I really enjoy programming, I also love working with both technical and non-technical folks, often serving as the interface between the two worlds.
    </p>
    <p>
      For more professional info, check out my <a href="https://www.linkedin.com/in/jplwood">LinkedIn profile</a> -- I do my best to keep it up to date. For some publicly visible programming work, check out my <a href="https://github.com/jplwood">GitHub account</a>.
    </p>
  </div>
</section>

<section id="blog" class="row blue-bg">
  <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
    <header>
      <h2 class="section-header">
        Blog
      </h2>
    </header>
    
    {% include post-list.html %}

    <br>
    <h2 class="text-center"><a href="/blog/">Go to Blog <span class="glyphicon glyphicon-hand-right"></span></a></2>
  </div>
</section>

<section id="contact" class="green-bg">
  <h2 class="section-header"><span class="glyphicon glyphicon-phone-alt"></span> Contact</h2>
  {% include contact-form.html %}
</section>

{{ page.categories }}
