<form id="contact-form" method="post" action="https://formspree.io/jplwood@gmail.com" role="form">

    <div class="messages"></div>

    <div class="controls container">

        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="form-group">
                    <label for="form_name">Name *</label>
                    <input id="form_name" type="text" name="name" class="form-control" placeholder="Please enter your firstname *" required="required" data-error="Firstname is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="form-group">
                    <label for="form_email">Email *</label>
                    <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="form-group">
                    <label for="form_message">Message *</label>
                    <textarea id="form_message" name="message" class="form-control" placeholder="Message for me *" rows="4" required="required" data-error="Please,leave us a message."></textarea>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-4">
                <input type="submit" class="btn btn-lg btn-red center-block" value="Send message">
            </div>
        </div>
    </div>
    <input type="hidden" name="_next" value="/#thanks" />
</form>

<div class="modal fade" id="thanks" tabindex="-1" role="dialog" aria-labelledby="thankYouForYourMessagePopup">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="center-block">
        <h1><span class="glyphicon glyphicon-ok"></span></h1>
      </div>
      Hey, thanks for your message! I'll get back to you as soon as humanly possible.
    </div>
  </div>
</div>
