<footer class="site-footer gray-bg">
    <h2 class="footer-heading">
      {{ site.title }}
    </h2>
    <div class="social-links">
        <a class="social-link" href="https://twitter.com/jplwood"><span class="ion-social-twitter"></span></a>
        <a class="social-link" href="https://github.com/jplwood"><span class="ion-social-github"></span></a>
        <a class="social-link" href="https://www.linkedin.com/in/jplwood"><span class="ion-social-linkedin"></span></a>
        <a class="social-link" href="https://soundcloud.com/jplwood" target="_blank" title="Soundcloud"><span class="ion-ios-musical-notes"></span></a>
    </div>
</footer>
