<footer class="site-footer gray-bg">
    <h2 class="footer-heading">
      {{ site.title }}
    </h2>
    <div class="social-links">
        <a class="social-link" href="https://twitter.com/jplwood"><span class="ion-social-twitter"></span></a>
        <a class="social-link" href="https://github.com/jplwood"><span class="ion-social-github"></span></a>
        <a class="social-link" href="https://www.linkedin.com/in/jplwood"><span class="ion-social-linkedin"></span></a>
        <a class="social-link" href="https://soundcloud.com/jplwood" target="_blank" title="Soundcloud"><span class="ion-ios-musical-notes"></span></a>
    </div>
</footer>

  <!-- Latest compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script><script src="/js/quotes.js" type="text/javascript"></script>
<script src="/js/scripts.js" type="text/javascript"></script>
<script src="/js/validator.js" type="text/javascript"></script>
<script id="dsq-count-scr" src="//justinleatherwood.disqus.com/count.js"></script>

