/**
 * Site header
 */
#site-header {
    background-color: #113D50;
    color:$grey-color-light;
    position: fixed;
    width:$sidebar-width;
    height: 100%;
    box-shadow: inset 0px 0px 3px 3px rgba(0, 0, 0, 0.3);;
}

.profile-pic {
  max-width: $profile-pic-width;
  max-height: $profile-pic-width;
  border-radius: 50%;
  display: block;
  margin: auto;
  border: 2px solid $grey-color-dark;
  -webkit-filter: grayscale(.9);
  filter: grayscale(.9);
}

.site-title {

    margin-bottom: 0;
    margin-left: $spacing-unit / 2;

    a,
    a:hover {
      font-size: 30px;
      color: $grey-color-light;

      &,
      &:visited {
          color: $grey-color-light;
      }
    }


}

.site-nav {

    .menu-icon {
        display:none;
    }

    .page-link {
        color: $color-orange;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    ul {
      list-style: none;
      font-size: $large-font-size;
      padding-top: 10px;
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    margin-left: $sidebar-width;
    background-color: $color-matte-yellow;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    height:100%;
    padding: 0;
    margin-left: $sidebar-width;
    background: url(../images/table.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    &:after{
      content:' - ';
    }
}

.post-link {
    display: block;
    font-size: 22px;
    line-height: 1;
}



/**
 * Post Cards - yes!
 */
.post-header {
    margin-bottom: $spacing-unit/4;
}

.post-title {
    font-size: $xlarge-font-size;
    margin-bottom: 0;
    @include media-query($on-laptop) {
        font-size: 36px;
    }
}
.post-excerpt {
  font-size: $small-font-size;
  line-height: 1;
}

.post-content {
    margin-bottom: $spacing-unit;
    font-family: $base-font-family;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    aside {
      padding-left: 15px;
    }

    .post-meta{
      font-size: $large-font-size;
      &:after {
        content: '';
      }
    }
}


/* Post piece of paper */

.paper-sheet {
  background-color: $color-matte-yellow;
  padding: 40px 50px;
  margin: 70px 50px;
  border-top: 15px solid $color-red;



  -moz-box-shadow:    1px 1px 5px 6px rgba(30,30,30,0.3);
  -webkit-box-shadow: 3px 3px 5px 6px rgba(30,30,30,0.3);
  box-shadow:         1px 1px 3px 4px rgba(30,30,30,0.3);
}

/* Home Page Index Cards */
.paper-card {
  border-top: 15px solid $color-blue;
  background-color: $color-yellow;
  margin:10px;
  padding: 10px;
  height:90%;
  max-width: 450px;
  min-width: 400px;
  -moz-box-shadow:    1px 1px 5px 6px rgba(15,15,15,0.3);
  -webkit-box-shadow: 3px 3px 5px 6px rgba(15,15,15,0.3);
  box-shadow:         1px 1px 3px 4px rgba(15,15,15,0.4);

  p, ol, ul {
    font-size: $small-font-size;
    line-height: 1;
    margin-bottom: 5px;
  }

  h2 {
    font-size: $base-font-size;
    font-weight: bold;
    margin-bottom: 5px;
  }

}

.card-code {
  border-color: $color-red;
}

.card-general {
  border-color: $color-green;
}

/***
 * CSS For Actual Posts
 */
.post a {
    color: lighten($color-blue, 15%);
    text-decoration: none;

    &:visited {
        color: lighten($color-blue, 15%);
    }

    &:hover {
        color: $color-blue;
        text-decoration: underline;
    }
}
