---
layout: default
---
<article class="page">

  <header class="gray-bg" {% if page.image.feature %}style="min-height:450px; background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/images/{{ page.image.feature }}'); background-position: center center; background-size:cover;"{% endif %}>
    <div class="header-block">
      <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
      <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
    </div>
  </header>

  <div class="row">
    <section class="col-sm-8 col-sm-offset-2  col-xs-10 col-xs-offset-1" itemprop="articleBody">
      {{ content }}
      <!-- Can't get Disqus to work
        {% include disqus.html %}
      -->
    </section>
  </div>

</div>
